/* Debug */

/* Common */

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

/* header */

header {
    height: 150px;
    margin-bottom: 25px;
}

.logo img {
    height: 90px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.list-inline > li{
    list-style: none;
    display: inline-block;
    padding: 10 10 10 0;
}

.list-inline a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    margin: 0 3px;
    font-size: 18px;
}

.list-inline a:hover {
    cursor: pointer;
    color: royalblue;
}

/* jumbotron */

.jumbotron {
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.text-inside {
    width: 70%;
    font-size: 15px;
    color: whitesmoke;
    padding-top: 250px;
    padding-left: 50px;
    text-align: justify;
}

.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 140, 213, 0.2);
    border-radius: 10px;
}

/* main */

.container2.clearfix {
    margin-top: 25px;
}

.top {
    height: 100px;
    clear: both;
}

.title {
    padding: 10px 0;
}

.title h2:hover {
    color: royalblue;
}

.black-text {
    color: black;
    font-size: 40px;
}

.gray-text {
    color:gray;
    font-size: 20px;
}

.left {
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
 }

.right {
    background-image: url(../img/img-6.jpg);
    background-repeat: no-repeat;
    background-size: contain;
 }

 .middle {
    float: left;
    width: 40%;
    margin: 20px 5%;
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
 }


.content {
    margin-top: 280px;
    padding: 10px 10px;
    color: grey;
}

.content h3:hover {
    color: royalblue;
}

.content > h3 {
    margin-bottom: 10px;
}

.left,
.right {
    float: left;
    width: 25%;
    margin: 20px 0; 
}

/* footer */

footer {
    height: 100px;
    margin-top: 25px;
}

footer p {
    font-size: 40px;
    text-align: center;
}

footer span {
    font-size: 40px;
    color: red;
}


